*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $primary-font-stack;
}

input{
  font-family: inherit;
}

.page-wrapper{
  position: relative;
  min-height: 100vh;
  background: $pry-clr;
}

.hide{
  display: none;
}